.envMeloTTS/
*/__pycache__/
*/.DS_Store
.DS_Store
logs/
config/chroma/
sandbox/temp_workspace/
MeloTTS/
*/__pycache__/
*/.DS_Store
.DS_Store
logs/
config/chroma/
sandbox/temp_workspace/
MeloTTS/
*/__pycache__/
*/.DS_Store
.DS_Store
logs/
config/chroma/
sandbox/temp_workspace/
MeloTTS/
*/__pycache__/
*/.DS_Store
.DS_Store
logs/
config/chroma/
sandbox/temp_workspace/
.env
